

@font-face {
    font-family: "Sans";
    src: url("/fonts/MonumentGrotesk/ABCMonumentGrotesk-Regular-Trial.woff2") format("woff2");
  }


.title3 {

    font-family: "Sans";

    font-size: 21px;
    line-height: 24px;

}

